{% extends 'layout.html.twig' %}

{% block title %}Slaque!{% endblock %}

{% block body %}

<body>
<div id="frame" class="row">
    <div id="sidepanel">
        <div id="groupe_block">
            <li class="nav-item" id="view_groupe_ajax_url" data-url="{{ path('view_groupe') }}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Liste Groupe
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown_groupe">

                </div>
            </li>
            <li class="nav-item" id="groupe_ajax_url">
                {{ form_start(formGroupe) }}
                {{ form_widget(formGroupe) }}
                <button id="submit_groupe" class="submit"><i class="fas fa-plus"></i></button>
                {{ form_end(formGroupe) }}
            </li>
        </div>
        <div id="profile">
            <div class="wrap">
                <div class="block_right_profil">
                    <!-- Button trigger modal -->
                    <button id="username" type="button" class="" data-toggle="modal" data-target="#exampleModalCenter" data-id="{{ app.user.id }}">
                        <span>{{ app.user.username }}</span>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal_edit_profil">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modifier votre profil</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(formUserEditProfilType, {'attr': {'id': 'formUserEditProfill'}}) }}
                                    {{ form_widget(formUserEditProfilType) }}
                                    <button id="submit_UserEditProfil" class="submit btn btn-success" data-dismiss="modal">Envoi !</button>
                                    {{ form_end(formUserEditProfilType) }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#<img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />#}
                    <p>GROUPE : <span id="groupe_profil"></span></p>
                    <div id="block_invite">
                        <p>Invité :</p>
                        <ul>

                        </ul>
                    </div>
                </div>

                <div  class="nav-item" id="groupe_add_user_ajax_url" data-url="{{ path('add_user_groupe') }}">
                        {{ form_start(formAddUserGroupe) }}
                        <p>Ajouter des utlisateurs au groupe</p>
                        {{ form_widget(formAddUserGroupe) }}
                            <button id="submit_add_groupe" class="submit"><i class="fas fa-user-plus"></i></button>
                        {{ form_end(formAddUserGroupe) }}
                </div>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
            <ul>
            </ul>
        </div>
        <div id="bottom-bar">
            <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
            <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            {#<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />#}
            {#<p>Harvey Specter</p>#}
            <div class="social-media">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
        </div>
        <div class="messages" id="list_message">
            <ul>

            </ul>
        </div>
        <div id="ajax-url" class="message-input" data-url="{{ path('add_message') }}">
            {{ form_start(formMessage) }}
            {{ form_widget(formMessage) }}
            <button id="submit_message"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            {{ form_end(formMessage) }}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
            var pathGroupe = "{{ path('select_groupe', {'id': 0}) }}";

    </script>

{% endblock %}